<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário para inclusão de estudantes</title>
</head>
<body>
    <h1>Formulário para inclusão de estudantes</h1>
    <section>
        <% if(erros) {%>
            <ul>
                <% for (let i =0; i < erros.length; i++) { %>
                    <li>
                        <%= erros[i].msg%>
                    </li>
                <%}%>
            </ul>
        <%}%>
    </section>
    <form action="/estudante/salvar" method="post">
        <input type="text" name="nome" placeholder="Digite o nome do estudante" value="<%= estudante.nome%>"><br><br>
        <input type="text" name="cidade" placeholder="Digite a cidade"  value="<%= estudante.cidade%>"><br><br>
        <input type="date" name='datanascimento'  value="<%= estudante.datanascimento%>"><br><br>
        <input type="number" name="nota" id="num" min="0"  max="10" required="required"  value="<%= estudante.nota%>"><br><br>
         <input type="submit" value="Enviar">
    
    </form>
</body>
</html>